/* All Tag */
body,
div,
ol,
ul,
li,
h2,
details,
summary,
a {
    margin: 0;
    padding: 0;
    border: 0 none;
}

details summary::-webkit-details-marker {
    display: none;
}
ul {
    padding-left: 40px;
}
li {
    list-style: square;
}
summary {
    font-family: 'Arial';
    color: #551a8b;
    font-size: 22px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #551a8b;
    font-size: 20px;
    font-weight: normal;
    display: block;
}

.wrap {
    width: 450px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.wrap > .list {
    padding: 0 60px;
    list-style-type: square;
}

.wrap > .list > li {
    line-height: 50px;
    border-bottom: 1px solid #f2f2f2;
}

summary:hover,
a:hover {
    padding-left: 20px;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 0, .2), rgba(255, 0, 0, .4));
    background: -moz-linear-gradient(180deg, rgba(255, 255, 0, .2), rgba(255, 0, 0, .4));
    background: -o-linear-gradient(180deg, rgba(255, 255, 0, .2), rgba(255, 0, 0, .4));
    background: linear-gradient(180deg, rgba(255, 255, 0, .2), rgba(255, 0, 0, .4));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
