
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490620653010'); /* IE9*/
  src: url('iconfont.eot?t=1490620653010#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490620653010') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490620653010') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490620653010#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before { content: "\e65a"; }

.icon-right:before { content: "\e665"; }

.icon-left:before { content: "\e666"; }

.icon-search:before { content: "\e699"; }

.icon-scan:before { content: "\e69a"; }

.icon-yibantishi:before { content: "\e6cd"; }

.icon-gouwuche:before { content: "\e63f"; }

.icon-liwu:before { content: "\e685"; }

.icon-close2:before { content: "\e6dd"; }

.icon-duihuan:before { content: "\e71a"; }

.icon-shouji:before { content: "\e71f"; }

.icon-wodetongxin:before { content: "\e723"; }

.icon-zhangdan:before { content: "\e72e"; }

